<!DOCTYPE = html>

<html>
    <head>
        <title>Admin</title>
    </head>
    <style type="text/css">
        
        body {
            font-family: sans-serif;
            width: 800px;
            margin: 0 auto;
            padding: 10 px;
            }
        hr {
            margin: 20px auto;
            }
        .content+.content {
            margin-top: 20px;
            }
        .content-subject {
            font-weight: bold;
            font-size: 20px;
            }
        .content-body {
            margin 0;
            font-size 17px;
            }
    </style>
    <body>
        <h1>QDB - Admin page</h1>
    <hr>
    <a href="/">Main page</a>
    <br>
    <a href="/top">Top</a>
    <br>
    <a href="/random">Random</a>
    <hr>
    <i><h2>Flagged quotes</h2></i>
    
    {% for DBQuote in quotes %}
        <div class="content">
            <div class="content-subject">
            <a href="/{{DBQuote.quote_id}}" class="post-title">#{{DBQuote.quote_id}} - {{DBQuote.submitter_id}}</a></div>
            &nbsp;{{DBQuote.score}}
            <br>
            <pre class="content-body">{{DBQuote.quote}}</pre>
            {% if DBQuote.imgurl %}
            <img src={{DBQuote.imgurl}} WIDTHMAX=800 HEIGHTMAX=800 >
            <br>
            {% endif %}
            <i><pre class='content-body'>Submitted: {{DBQuote.Time}}</pre></i>
            <a href="/delete/{{DBQuote.quote_id}}">DELETE</a>/<a href="/unflag/{{DBQuote.quote_id}}">REJECT</a>
            <hr>
        </div>
    {% endfor %}
    <body>
</html>
